*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: beige;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 50px;
    width: 200px;
    margin-left: 30px;
}


img{
    height: 300px;
    object-fit: cover;
    object-position: center;
    padding-left: 30px;
}