* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(6, 74, 39);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100px;
    border: 2px solid;
    background: rgba(54, 84, 54, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

a {
    color: white;
}

.elements ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.elements ul li a {
    color: white;
}